/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/public/vendor/
/node_modules/
/bin/
/composer.phar
/.idea/*
/symfony.bat
*.php~
/web/uploads/*
/web/media/*
!.gitkeep
.DS_Store
*.sql

/src/Acme/DemoBundle/Resources/public/components/cache/
/src/AllBY/SirTrevorBundle/Resources/public/components/cache/
/public/web/public/*
/public/web/content/uploads/*
/public/app/Resources/config/config.php
