.allby-actions {
    margin-bottom: 20px;
}

.well {
    margin-top: 20px;
}
.picker-switch i{
    cursor: pointer;
}

.bootstrap-datetimepicker-widget ul {
    margin-left: -40px;
}

.dropdown-menu > .active > a{
    background-color: #ffffff;
}

.side-nav > li.dropdown > ul.dropdown-menu > li.active > a:hover {
    color: #ffffff;
}

.side-nav > li.dropdown > ul.dropdown-menu > li.active > a {
    color: #000000;
}

.minfield {
    min-width: 143px;
}

.pointer {
    /*border: solid 2px brown;*/
    cursor: move;
}

.droppable {
    /*border: solid 2px teal;*/
    /*background-color: #e8eff7;*/
    /*padding: 20px;*/
    /*min-height: 100px;*/
}

.list-element {
    padding: 10px;
}

.draggable td, .droppable td,
.draggable-ordered td, .droppable-ordered td {
    border: 1px solid lightgray;
}

ul.draggable, ul.droppable,
ul.draggable-ordered, ul.droppable-ordered {
    min-height: 100px;
}

.draggable li, .droppable li {
    list-style-type: none;
    margin: 5px;
    margin-bottom: 20px;
    float: left;
}
.draggable-ordered li, .droppable-ordered li {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgray;
}

table.drag {
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
}

.no-sortable {
    background-color: gainsboro;
}

.ui-state-highlight {
    background-color: yellowgreen;
}

.panel-body,
.col-xs-4 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
}

/** Sir Trevor fix */
.st-format-bar {
    z-index: 10000;
}

.ui-dialog {
    z-index: 10001;
}

.st-char-cell > a {
    display: inline-block;
    width: 100%;
    font-size: 20px;
}
.st-format-btn--StrikeThrough {
    text-decoration: line-through;
}
.st-format-btn--Underline {
    text-decoration: underline;
}
.st-format-btn--Superscript:after {
    content: ' Sup';
    vertical-align: super;
    font-size: 10px;
}
.st-format-btn--Subscript:after {
    content: ' Sub';
    vertical-align: sub;
    font-size: 10px;
}
.st-format-btn--SpecialChars:after {
    content: '\3a9';
    font-size: 20px;
}
.st-format-btn--JustifyRight:after {
    content: '\21AC';
    font-size: 15px;
}
.st-format-btn--JustifyLeft:before {
    content: '\21AB';
    font-size: 15px;
}
.st-format-btn--ClearFormat:before {
    content: '\2718';
    font-size: 20px;
    color: #e9322d;
}

.select2-container {
    width: 100%!important;
    height: 34px!important;
    padding: 0!important;
}
.select2-choice {
    height: 100%!important;
}
.adv-content-type {
    display: none;
}
.adv-content-type.activated {
    display: block;
}