{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if value is not null %}
        <p>{{ value }}</p>
        <p><a href="{{ object.link }}" target="_blank">Смотреть</a></p>
        <small class="text-muted">{{ object.createdAt|date(datePattern) }}</small>
    {% endif %}
{% endblock %}
