{% if admin.isGranted('EDIT', object) %}
    {#<a href="{{ path('admin_insider_user_user_refill_create', {id: object.id}) }}" class="btn btn-default btn-small" title="{{ 'action_refill'|trans({}, 'SonataAdminBundle') }}">#}
    <a href="{{ path('admin_insider_user_user_refill_list', {id: object.id}) }}" class="btn btn-default btn-small" title="{{ 'action_refill_list'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-money"></i>
    </a>
{% endif %}
