{% extends "InsiderUserBundle::layout.html.twig" %}

{% trans_default_domain 'InsiderUserBundle' %}

{% block fos_user_content %}
    <div id="container">
        <div class="article">
            <div class="block-content-wrapper">
                <div class="block-content text-center">
                    <div class="login">
                        <h1>Регистрация</h1>
                        <div class="form-group">
                            <p>Проверте email. На него было отправлено письмо для подтверждения регистрации.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
